In [1]:
import pandas as pd
import numpy as np
import math

Task1

In [2]:
df_ncc=pd.read_csv('Small_Cap/NCC.csv')
df_ncc

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,NCC,EQ,15-May-2017,93.80,94.10,97.90,94.05,97.90,97.35,96.08,3616693,3.474795e+08,13933,1120046,30.97
1,NCC,EQ,16-May-2017,97.35,98.15,100.80,97.10,100.60,100.40,99.01,8251673,8.170074e+08,28908,2698728,32.71
2,NCC,EQ,17-May-2017,100.40,100.95,103.65,100.10,101.35,101.45,102.05,9866001,1.006803e+09,40313,3276414,33.21
3,NCC,EQ,18-May-2017,101.45,99.80,100.85,96.55,96.90,97.00,98.80,4163676,4.113649e+08,18977,1196998,28.75
4,NCC,EQ,19-May-2017,97.00,97.80,99.25,94.25,95.70,95.45,96.53,3782348,3.651142e+08,19517,706203,18.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,NCC,EQ,07-May-2019,93.70,94.50,95.25,91.85,92.55,92.65,93.65,4876430,4.566790e+08,23543,891834,18.29
493,NCC,EQ,08-May-2019,92.65,92.30,94.60,91.10,93.55,93.60,93.46,5454026,5.097505e+08,17813,774545,14.20
494,NCC,EQ,09-May-2019,93.60,93.45,93.80,90.85,91.40,91.45,92.13,3484602,3.210419e+08,14649,557569,16.00
495,NCC,EQ,10-May-2019,91.45,91.65,96.85,91.65,95.95,95.90,94.20,7923082,7.463868e+08,24007,1094615,13.82
496,NCC,EQ,13-May-2019,95.90,95.95,95.95,89.15,90.05,90.10,92.29,6912840,6.379546e+08,21630,1891469,27.36

In [3]:
df_ncc['Daily Return'] = (df_ncc['Close Price']).pct_change() 
df_ncc['Daily Return'] = df_ncc['Daily Return'].replace([np.inf, -np.inf], np.nan)

In [4]:
df_ncc = df_ncc.dropna()
mdr=df_ncc['Daily Return'].mean()
print("Mean Daily Return")
print(mdr)

Mean Daily Return
0.00023412728385077976

In [5]:
df_ncc['Daily Std Deviation'] = (df_ncc['Close Price']).pct_change() 
df_ncc['Daily Std Deviation'] = df_ncc['Daily Std Deviation'].replace([np.inf, -np.inf], np.nan)
df_ncc = df_ncc.dropna()
print("Daily Std Deviation")
sdr=df_ncc['Daily Return'].std()
print(sdr)

Daily Std Deviation
0.027952457265617386

/Users/askvyas/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/askvyas/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
annual_mean=mdr*252
annual_sd=sdr*math.sqrt(252)
print(annual_mean)
print(annual_sd)

0.0590000755303965
0.44373150274790485

Task 2

In [7]:
pvr_d=pd.read_csv('Small_Cap/PVR.csv')
pvr_d

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,PVR,EQ,15-May-2017,1526.20,1532.35,1538.15,1515.45,1520.00,1524.95,1526.51,103693,1.582883e+08,7359,54518,52.58
1,PVR,EQ,16-May-2017,1524.95,1526.70,1545.00,1526.65,1533.25,1539.00,1538.04,86547,1.331129e+08,6332,39020,45.09
2,PVR,EQ,17-May-2017,1539.00,1539.70,1552.85,1526.05,1527.00,1530.30,1538.01,73902,1.136622e+08,4665,21303,28.83
3,PVR,EQ,18-May-2017,1530.30,1525.00,1539.35,1502.20,1514.90,1515.05,1519.68,82125,1.248035e+08,2903,38796,47.24
4,PVR,EQ,19-May-2017,1515.05,1515.00,1534.50,1502.20,1517.65,1513.55,1513.25,114890,1.738567e+08,9495,54764,47.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,PVR,EQ,07-May-2019,1802.30,1795.00,1802.15,1772.45,1780.00,1780.10,1790.60,298337,5.342028e+08,19285,66333,22.23
491,PVR,EQ,08-May-2019,1780.10,1775.10,1777.45,1742.00,1749.00,1748.50,1758.96,369364,6.496950e+08,23001,84617,22.91
492,PVR,EQ,09-May-2019,1748.50,1750.00,1769.25,1740.00,1764.00,1758.45,1757.26,341158,5.995022e+08,23934,66607,19.52
493,PVR,EQ,10-May-2019,1758.45,1772.00,1776.00,1696.70,1715.00,1715.40,1725.13,792063,1.366408e+09,34274,55503,7.01
494,PVR,EQ,13-May-2019,1715.40,1724.00,1749.50,1706.25,1730.20,1724.00,1730.67,432503,7.485212e+08,14494,47849,11.06

In [8]:
idbi_d=pd.read_csv('Mid_Cap/IDBI.csv')
idbi_d

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,IDBI,EQ,15-May-2017,75.50,75.70,76.10,73.15,75.25,75.05,74.58,6688622,4.988258e+08,16062,1486475,22.22
1,IDBI,EQ,16-May-2017,75.05,75.30,77.75,73.85,77.05,76.65,75.38,8740098,6.587996e+08,24319,2578070,29.50
2,IDBI,EQ,17-May-2017,76.65,76.65,77.30,75.60,75.75,75.95,76.37,3152912,2.407824e+08,11386,643174,20.40
3,IDBI,EQ,18-May-2017,75.95,75.00,75.50,69.05,69.05,69.95,71.46,15086266,1.078020e+09,36259,2852529,18.91
4,IDBI,EQ,19-May-2017,69.95,69.00,70.95,68.50,68.70,68.75,69.42,10966153,7.612893e+08,39512,1949156,17.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,IDBI,EQ,07-May-2019,38.60,38.70,38.95,37.05,37.20,37.25,37.99,4301722,1.634074e+08,9987,1494438,34.74
490,IDBI,EQ,08-May-2019,37.25,37.40,37.55,36.75,37.10,37.05,37.11,3990622,1.480848e+08,8641,791164,19.83
491,IDBI,EQ,09-May-2019,37.05,36.65,37.75,36.65,37.45,37.45,37.22,4172940,1.553021e+08,10134,817079,19.58
492,IDBI,EQ,10-May-2019,37.45,37.60,38.40,36.75,36.85,37.25,37.62,5233900,1.968984e+08,9514,1735179,33.15
493,IDBI,EQ,13-May-2019,37.25,37.15,37.15,34.25,34.35,34.45,35.58,6277464,2.233690e+08,14168,1732376,27.60

In [9]:
voltas_d=pd.read_csv('Mid_Cap/VOLTAS.csv')
voltas_d

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,VOLTAS,EQ,15-May-2017,433.55,436.00,436.40,430.10,433.40,431.85,432.15,696583,3.010253e+08,14160,327583,47.03
1,VOLTAS,EQ,16-May-2017,431.85,432.00,438.20,430.70,433.00,432.45,433.46,996780,4.320614e+08,19456,366664,36.78
2,VOLTAS,EQ,17-May-2017,432.45,435.00,435.00,427.25,430.85,430.20,429.93,686830,2.952867e+08,11494,307390,44.75
3,VOLTAS,EQ,18-May-2017,430.20,425.10,427.00,412.70,414.50,414.10,418.14,1231618,5.149912e+08,18700,571822,46.43
4,VOLTAS,EQ,19-May-2017,414.10,414.35,419.90,410.95,416.00,415.75,414.98,869457,3.608041e+08,29631,313872,36.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,VOLTAS,EQ,07-May-2019,606.05,609.30,611.45,599.70,603.00,601.45,606.32,702629,4.260201e+08,21016,272966,38.85
490,VOLTAS,EQ,08-May-2019,601.45,599.00,599.00,571.55,575.00,576.65,585.97,3342049,1.958347e+09,73711,1258007,37.64
491,VOLTAS,EQ,09-May-2019,576.65,574.00,580.70,568.75,569.50,574.10,574.96,1911454,1.099015e+09,24155,420130,21.98
492,VOLTAS,EQ,10-May-2019,574.10,540.00,586.00,537.70,574.10,580.05,562.24,15335100,8.621946e+09,172065,2418157,15.77
493,VOLTAS,EQ,13-May-2019,580.05,572.80,576.45,562.00,570.05,572.20,570.86,2410655,1.376150e+09,40550,444482,18.44

In [10]:
maruti_d=pd.read_csv('Large_Cap/MARUTI.csv')
maruti_d

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MARUTI,EQ,15-May-2017,6730.20,6759.4,6839.10,6733.45,6824.00,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01
1,MARUTI,EQ,16-May-2017,6823.90,6850.0,6977.55,6830.00,6968.40,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97
2,MARUTI,EQ,17-May-2017,6953.95,6950.0,6979.00,6885.85,6945.00,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37
3,MARUTI,EQ,18-May-2017,6958.20,6918.3,6948.00,6814.45,6822.00,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44
4,MARUTI,EQ,19-May-2017,6831.05,6854.8,6893.90,6691.55,6756.30,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,MARUTI,EQ,07-May-2019,6709.65,6744.9,6785.25,6680.00,6693.00,6702.00,6737.56,586684,3.952821e+09,69696,198757,33.88
492,MARUTI,EQ,08-May-2019,6702.00,6679.0,6693.00,6616.00,6650.00,6650.15,6655.70,552749,3.678929e+09,59897,228920,41.41
493,MARUTI,EQ,09-May-2019,6650.15,6637.0,6678.00,6600.00,6609.85,6624.95,6646.86,570000,3.788710e+09,71334,257451,45.17
494,MARUTI,EQ,10-May-2019,6624.95,6623.0,6664.90,6575.00,6630.00,6631.60,6622.41,608669,4.030855e+09,75423,247688,40.69
495,MARUTI,EQ,13-May-2019,6631.60,6626.0,6659.30,6500.00,6523.00,6543.75,6603.04,555672,3.669123e+09,74137,241880,43.53

In [11]:
titan_d=pd.read_csv('Large_Cap/TITAN.csv')
titan_d

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TITAN,EQ,15-May-2017,495.00,489.65,490.00,472.40,486.00,483.65,479.93,3897357,1.870465e+09,52478,1722661,44.20
1,TITAN,EQ,16-May-2017,483.65,486.00,491.00,480.80,490.00,488.30,487.32,1308863,6.378316e+08,33942,563667,43.07
2,TITAN,EQ,17-May-2017,488.30,490.00,490.10,477.30,481.00,481.75,482.25,859054,4.142814e+08,26686,448314,52.19
3,TITAN,EQ,18-May-2017,481.75,479.00,482.60,470.05,470.85,471.65,474.78,811219,3.851526e+08,24621,438716,54.08
4,TITAN,EQ,19-May-2017,471.65,475.00,479.50,460.35,469.65,471.15,469.05,1022479,4.795891e+08,27225,263561,25.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,TITAN,EQ,07-May-2019,1082.85,1097.80,1105.00,1083.00,1090.00,1086.50,1094.54,2605643,2.851972e+09,83154,507973,19.50
492,TITAN,EQ,08-May-2019,1086.50,1090.00,1100.00,1067.85,1096.80,1088.70,1085.83,3336769,3.623149e+09,92788,472241,14.15
493,TITAN,EQ,09-May-2019,1088.70,1100.00,1110.00,1088.70,1103.20,1104.45,1099.15,4362293,4.794807e+09,131781,751092,17.22
494,TITAN,EQ,10-May-2019,1104.45,1108.00,1137.85,1094.30,1129.45,1132.10,1117.09,3032624,3.387712e+09,101440,1044911,34.46
495,TITAN,EQ,13-May-2019,1132.10,1125.30,1152.80,1124.05,1149.00,1144.70,1144.23,2695155,3.083875e+09,97460,804550,29.85

In [12]:
print("for PVR")

pvr_d['Daily Return'] = (pvr_d['Close Price']).pct_change() 
pvr_d['Daily Return'] = pvr_d['Daily Return'].replace([np.inf, -np.inf], np.nan)
pvr_d = pvr_d.dropna()
mdr_pvr=pvr_d['Daily Return'].mean()
print("Mean Daily Return")
print(mdr_pvr)


pvr_d['Daily Std Deviation'] = (pvr_d['Close Price']).pct_change() 
pvr_d['Daily Std Deviation'] = pvr_d['Daily Std Deviation'].replace([np.inf, -np.inf], np.nan)
pvr_d = pvr_d.dropna()
print("Daily Std Deviation")
sdr_pvr=pvr_d['Daily Return'].std()
print(sdr_pvr)

for PVR
Mean Daily Return
0.00043995169495582303
Daily Std Deviation
0.019537260715253163

/Users/askvyas/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/askvyas/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [13]:
print("for IDBI")

idbi_d['Daily Return'] = (idbi_d['Close Price']).pct_change() 
idbi_d['Daily Return'] = idbi_d['Daily Return'].replace([np.inf, -np.inf], np.nan)
idbi_d = idbi_d.dropna()
mdr_idbi=idbi_d['Daily Return'].mean()
print("Mean Daily Return")
print(mdr_idbi)


idbi_d['Daily Std Deviation'] = (idbi_d['Close Price']).pct_change() 
idbi_d['Daily Std Deviation'] = idbi_d['Daily Std Deviation'].replace([np.inf, -np.inf], np.nan)
idbi_d = idbi_d.dropna()
print("Daily Std Deviation")
sdr_idbi=pvr_d['Daily Return'].std()
print(sdr_idbi)

for IDBI
Mean Daily Return
-0.0011746359609724713
Daily Std Deviation
0.019537260715253163

/Users/askvyas/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/askvyas/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [14]:
print("for VOLTAS")
voltas_d
voltas_d['Daily Return'] = (voltas_d['Close Price']).pct_change() 
voltas_d['Daily Return'] = voltas_d['Daily Return'].replace([np.inf, -np.inf], np.nan)
idbi_d = idbi_d.dropna()
mdr_voltas=voltas_d['Daily Return'].mean()
print("Mean Daily Return")
print(mdr_voltas)


voltas_d['Daily Std Deviation'] = (voltas_d['Close Price']).pct_change() 
voltas_d['Daily Std Deviation'] = voltas_d['Daily Std Deviation'].replace([np.inf, -np.inf], np.nan)
voltas_d = idbi_d.dropna()
print("Daily Std Deviation")
sdr_voltas=voltas_d['Daily Return'].std()
print(sdr_voltas)

for VOLTAS
Mean Daily Return
0.0007580562036287222
Daily Std Deviation
0.028596959014675096

In [15]:
print("for MARUTI")
maruti_d
maruti_d['Daily Return'] = (maruti_d['Close Price']).pct_change() 
maruti_d['Daily Return'] = maruti_d['Daily Return'].replace([np.inf, -np.inf], np.nan)
maruti_d = idbi_d.dropna()
mdr_maru=maruti_d['Daily Return'].mean()
print("Mean Daily Return")
print(mdr_maru)


maruti_d['Daily Std Deviation'] = (maruti_d['Close Price']).pct_change() 
maruti_d['Daily Std Deviation'] = maruti_d['Daily Std Deviation'].replace([np.inf, -np.inf], np.nan)
maruti_d = idbi_d.dropna()
print("Daily Std Deviation")
sdr_maru=maruti_d['Daily Return'].std()
print(sdr_idbi)

for MARUTI
Mean Daily Return
-0.0012203549783449275
Daily Std Deviation
0.019537260715253163

In [16]:

print("for TITAN")
titan_d['Daily Return'] = (titan_d['Close Price']).pct_change() 
titan_d['Daily Return'] = titan_d['Daily Return'].replace([np.inf, -np.inf], np.nan)
titan_d = titan_d.dropna()
mdr_titan=titan_d['Daily Return'].mean()
print("Mean Daily Return")
print(mdr_titan)


titan_d['Daily Std Deviation'] = (titan_d['Close Price']).pct_change() 
titan_d['Daily Std Deviation'] = titan_d['Daily Std Deviation'].replace([np.inf, -np.inf], np.nan)
titan_d = titan_d.dropna()
print("Daily Std Deviation")
sdr_titan=titan_d['Daily Return'].std()
print(sdr_idbi)

for TITAN
Mean Daily Return
0.001942893403019307
Daily Std Deviation
0.019537260715253163

/Users/askvyas/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/askvyas/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

New Dataframe with just the closing price of all the 5 stocks

In [24]:
column_names = ["PVR", "IDBI", "VOLTAS","MARUTI","TITAN"]
data = pd.DataFrame(columns = column_names)

data['PVR'] = (pvr_d['Close Price'])
data['IDBI'] = pd.DataFrame(idbi_d['Close Price'])
data['VOLTAS'] = pd.DataFrame(voltas_d['Close Price'])
data['MARUTI'] = pd.DataFrame(maruti_d['Close Price'])
data['TITAN'] = pd.DataFrame(titan_d['Close Price'])

In [19]:
pvr_d.shape

(493, 17)

In [20]:
idbi_d.shape

(492, 17)

In [21]:
voltas_d.shape

(492, 17)

In [26]:
data.fillna(0)

         PVR   IDBI  VOLTAS  MARUTI    TITAN
2    1530.30  75.95   75.95   75.95   481.75
3    1515.05  69.95   69.95   69.95   471.65
4    1513.55  68.75   68.75   68.75   471.15
5    1481.00  66.20   66.20   66.20   481.40
6    1496.45  64.90   64.90   64.90   478.35
..       ...    ...     ...     ...      ...
490  1780.10  37.05   37.05   37.05  1082.85
491  1748.50  37.45   37.45   37.45  1086.50
492  1758.45  37.25   37.25   37.25  1088.70
493  1715.40  34.45   34.45   34.45  1104.45
494  1724.00   0.00    0.00    0.00  1132.10

[493 rows x 5 columns]

In [27]:
returns = data.pct_change()
mean_daily_returns = returns.mean()
mean_daily_returns = mean_daily_returns.values.reshape(5,1)
cov_matrix = returns.cov()
weights = np.asarray([0.2,0.2,0.2,0.2,0.2]) #weights of repective stocks
portfolio_return = round(np.sum(mean_daily_returns * weights) * 252,2)
portfolio_std_dev = round(np.sqrt(np.dot(weights.T,np.dot(cov_matrix, weights))) * np.sqrt(252),2)
print('Portfolio expected annualised return is {} and volatility is {}'.format(portfolio_return,portfolio_std_dev))

Portfolio expected annualised return is -0.31 and volatility is 0.29

In [ ]:
returns = data.pct_change()
mean_daily_returns = returns.mean()
cov_matrix = returns.cov()

num_portfolios = 25000

results = np.zeros((3,num_portfolios))
for i in range(num_portfolios):
    weights = np.random.random(5)
    weights /= np.sum(weights)
    
    portfolio_return = np.sum(mean_daily_returns * weights) * 252
    portfolio_std_dev = np.sqrt(np.dot(weights.T,np.dot(cov_matrix, weights))) * np.sqrt(252)
    

    results[0,i] = portfolio_return
    results[1,i] = portfolio_std_dev
    results[2,i] = results[0,i] / results[1,i]    
results_frame = pd.DataFrame(results.T,columns=['ret','stdev','sharpe'])

results_frame
plt.scatter(results_frame.stdev,results_frame.ret,c=results_frame.sharpe,cmap='RdYlBu')
plt.colorbar()