In [1]:
#imports
import pandas as pd

In [2]:
#Task1
df=pd.read_csv('MINDTREE.csv')
df_fil=df[df['Series']!='EQ']
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDTREE,EQ,15-May-2017,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90
1,MINDTREE,EQ,16-May-2017,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65
2,MINDTREE,EQ,17-May-2017,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35
3,MINDTREE,EQ,18-May-2017,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05
4,MINDTREE,EQ,19-May-2017,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,MINDTREE,EQ,07-May-2019,981.75,982.80,985.00,975.00,981.00,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20
490,MINDTREE,EQ,08-May-2019,979.95,981.00,985.00,971.05,982.00,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54
491,MINDTREE,EQ,09-May-2019,980.50,979.60,983.15,976.10,980.90,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89
492,MINDTREE,EQ,10-May-2019,980.45,980.40,982.90,973.00,974.00,975.35,977.55,215170,2.103396e+08,5128,26734,12.42
493,MINDTREE,EQ,13-May-2019,975.35,973.40,983.00,970.30,981.00,979.10,980.16,485941,4.762997e+08,14005,222691,45.83

In [3]:

#Task2
df_t=df.tail(90)
max_p=df_t['Close Price'].max(axis = 0, skipna = True)
min_p=df_t['Close Price'].min(axis = 0, skipna = True)
temp_s=df_t['Close Price'].sum(axis = 0, skipna = True)
mean_p=temp_s/90.0

print(max_p)
print(min_p)
print("%.2f"%mean_p)

989.4
812.25
918.61

In [4]:
#Task3
df['Date']=df['Date'].astype('datetime64[ns]')
max_d=df['Date'].max(axis = 0, skipna = True)
min_d=df['Date'].min(axis = 0, skipna = True)

print(max_d)
print(min_d)


print(type(max_d))
min_d-max_d ##returns the time difference between the two dates

2019-05-13 00:00:00
2017-05-15 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

Timedelta('-728 days +00:00:00')

In [5]:
#Task4

#df['Year']=pd.DatetimeIndex(df['Date']).year ##to extract Month from the complete Date
#df['Month']=pd.DatetimeIndex(df['Date']).month
#df.head()

#df['PV']=((((df['High Price']+df['Low Price']+df['Close Price'])*df['Total Traded Quantity'])/3).cumsum())
#df_ym=df.groupby(['Month', 'Year'])

In [6]:
#Task4
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year
df['VWAP'] = (df['Close Price'] * df['Total Traded Quantity']).cumsum() / df['Total Traded Quantity'].fillna(0).cumsum()
data_vwap = df[['Month','Year','VWAP']]
group = data_vwap.groupby(['Month','Year'])
group.first()

                  VWAP
Month Year
1     2018  516.202743
      2019  843.125130
2     2018  572.722380
      2019  846.155182
3     2018  609.866603
      2019  848.327396
4     2018  651.524063
      2019  853.178143
5     2017  509.450000
      2018  730.334478
      2019  856.030810
6     2017  522.517683
      2018  760.847401
7     2017  528.654830
      2018  776.898919
8     2017  521.674873
      2018  806.405595
9     2017  514.842649
      2018  822.588413
10    2017  503.871258
      2018  840.417469
11    2017  501.226909
      2018  842.242954
12    2017  504.364596
      2018  842.393059

In [7]:
#Task5
#part 1 Definition
def avg_n(n):
    return (df['Average Price'].tail(n).sum())/n
#part2 Defenition
def pl_perc(N):
    diff=(df['Close Price'].tail(N).iloc[N-1]-df['Close Price'].tail(N).iloc[0])
    if(diff<0):
        loss=-(diff)
        loss_perc=(loss/df['Close Price'].tail(N).iloc[N-1])*100
        return loss_perc
    if(diff>0):
        profit=diff
        profit_perc=(profit/df['Close Price'].tail(N).iloc[N-1])*100
        return profit_perc

#the averages
print("The average Values for 1 week,2 weeks,1 month,2 months,6 months and 1 year")
print(avg_n(5))
print(avg_n(10))
print(avg_n(20))
print(avg_n(60))
print(avg_n(120))
print(avg_n(240))

#Profit Loss
print("The profit loss percentage Values for 1 week,2 weeks,1 month,2 months,6 months and 1 year")

print(pl_perc(5))
print(pl_perc(10))
print(pl_perc(20))
print(pl_perc(60))
print(pl_perc(120))
print(pl_perc(240))

The average Values for 1 week,2 weeks,1 month,2 months,6 months and 1 year
979.4680000000001
979.175
978.2695
943.5338333333333
903.1566666666666
948.6203333333334
The profit loss percentage Values for 1 week,2 weeks,1 month,2 months,6 months and 1 year
0.0868144214074173
0.33193749361658664
0.9038913287713229
6.235318149320811
14.166070881421719
4.064957614135426

In [8]:
#Task 6
df['Day_Perc_Change']=df['Close Price'].pct_change()
df['Day_Perc_Change'][0]=0
df

/Users/askvyas/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,509.450000,0.000000
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,510.249582,0.003631
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,508.495948,-0.009681
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,500.779579,-0.026563
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,500.222798,0.009333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,MINDTREE,EQ,2019-05-07,981.75,982.80,985.00,975.00,981.00,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20,5,2019,856.636578,-0.001833
490,MINDTREE,EQ,2019-05-08,979.95,981.00,985.00,971.05,982.00,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54,5,2019,857.418361,0.000561
491,MINDTREE,EQ,2019-05-09,980.50,979.60,983.15,976.10,980.90,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89,5,2019,858.098293,-0.000051
492,MINDTREE,EQ,2019-05-10,980.45,980.40,982.90,973.00,974.00,975.35,977.55,215170,2.103396e+08,5128,26734,12.42,5,2019,858.135098,-0.005202
493,MINDTREE,EQ,2019-05-13,975.35,973.40,983.00,970.30,981.00,979.10,980.16,485941,4.762997e+08,14005,222691,45.83,5,2019,858.220789,0.003845

In [9]:
#Task7
for i in range(493):
    if((df['Day_Perc_Change'][i]>=-0.5)&(df['Day_Perc_Change'][i]<=0.5)):
        df['Trend']="Slight or No Change"
    elif((df['Day_Perc_Change'][i]>=0.5)&(df['Day_Perc_Change'][i]<=1.0)):
        df['Trend']="Slight Positive"
    elif((df['Day_Perc_Change'][i]<=-0.5)&(df['Day_Perc_Change'][i]>=-1.0)):
        df['Trend']="Slight Negative"
    elif((df['Day_Perc_Change'][i]>=1)&(df['Day_Perc_Change'][i]<=3.0)):
        df['Trend']="Positive"
    elif((df['Day_Perc_Change'][i]>=-3)&(df['Day_Perc_Change'][i]<=-1.0)):
        df['Trend']="Negative"
    elif((df['Day_Perc_Change'][i]<=3)&(df['Day_Perc_Change'][i]>=7.0)):
        df['Trend']="Among Top Gainers"
    elif((df['Day_Perc_Change'][i]>=-7.0)&(df['Day_Perc_Change'][i]<=-3.0)):
        df['Trend']="Among Top Gainers"
    elif(df['Day_Perc_Change'][i]>=7.0):
        df['Trend']="Ball Run"
    elif(df['Day_Perc_Change'][i]<=-7.0):
        df['Trend']="Bear Drop"
    
    
        
        
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,509.450000,0.000000,Slight or No Change
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,510.249582,0.003631,Slight or No Change
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,508.495948,-0.009681,Slight or No Change
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,500.779579,-0.026563,Slight or No Change
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,500.222798,0.009333,Slight or No Change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,MINDTREE,EQ,2019-05-07,981.75,982.80,985.00,975.00,981.00,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20,5,2019,856.636578,-0.001833,Slight or No Change
490,MINDTREE,EQ,2019-05-08,979.95,981.00,985.00,971.05,982.00,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54,5,2019,857.418361,0.000561,Slight or No Change
491,MINDTREE,EQ,2019-05-09,980.50,979.60,983.15,976.10,980.90,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89,5,2019,858.098293,-0.000051,Slight or No Change
492,MINDTREE,EQ,2019-05-10,980.45,980.40,982.90,973.00,974.00,975.35,977.55,215170,2.103396e+08,5128,26734,12.42,5,2019,858.135098,-0.005202,Slight or No Change
493,MINDTREE,EQ,2019-05-13,975.35,973.40,983.00,970.30,981.00,979.10,980.16,485941,4.762997e+08,14005,222691,45.83,5,2019,858.220789,0.003845,Slight or No Change

In [10]:
#Task7
df.groupby(df.Trend).mean()['Total Traded Quantity']
df.groupby(df.Trend).median()['Total Traded Quantity']

Trend
Slight or No Change    1006586.5
Name: Total Traded Quantity, dtype: float64

In [11]:
#Task8
df.to_csv('week2.csv')